build
mx.scratch
!.settings

# ========================
# 1. IDE 配置文件 (跨平台防打架)
# ========================
.vscode/

# ========================
# 2. 编译生成的输出文件 (体积大且易变)
# ========================
build/
Debug/
Release/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# ========================
# 3. 操作系统产生的隐藏文件
# ========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
desktop.ini

# ========================
# 4. 其他 IDE 特有文件 (可选忽略)
# ========================
MDK-ARM/
*.uvoptx
*.uvprojx
*.uvguix.*
*.scvd