mx.scratch

# Build outputs
build/
Debug/
Release/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# OS files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
desktop.ini

# Optional IDE/toolchain files
MDK-ARM/
*.uvoptx
*.uvprojx
*.uvguix.*
*.scvd
